In [23]:
import pandas as pd

In [24]:
sexism_data = pd.read_csv('../data/original/sexism_data.csv')
etiq_sexista = pd.read_csv('../data/original/Etiquetado sexista.csv')
edos = pd.read_csv('../data/original/edos_labelled_aggregated.csv')

In [25]:
sexism_data.drop(['id','of_id','dataset','toxicity'], axis=1, inplace=True)
edos.drop(['rewire_id','label_category','label_vector','split'], axis=1, inplace=True)

edos.replace("not sexist", 0, inplace=True)
edos.replace("sexist", 1, inplace=True)

sexism_data.replace("False", 0, inplace=True)
sexism_data.replace("True", 1, inplace=True)

etiq_sexista = etiq_sexista.rename(columns={'Label': 'label'})
sexism_data = sexism_data.rename(columns={'sexist': 'label'})
edos = edos.rename(columns={'label_sexist': 'label'})
etiq_sexista = etiq_sexista.rename(columns={'Sentences': 'text'})

sexism_data['set'] = 0
etiq_sexista['set'] = 1
edos['set'] = 2

/var/folders/xl/pzfrh6cs6m3509511z8q28500000gn/T/ipykernel_86643/4033441887.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  edos.replace("sexist", 1, inplace=True)

In [26]:
sexism_data.head()

                                                text  label  set
0  MENTION3481 i didn't even know random was an o...  False    0
1                   Bottom two should've gone!  #mkr  False    0
2  MENTION3111 MENTION3424 ladyboner deserves so ...  False    0
3  She shall now be known as Sourpuss #MKR #KatAn...  False    0
4  Tarah W threw a bunch of women under the bus s...  False    0

In [27]:
sexism_data

                                                    text  label  set
0      MENTION3481 i didn't even know random was an o...  False    0
1                       Bottom two should've gone!  #mkr  False    0
2      MENTION3111 MENTION3424 ladyboner deserves so ...  False    0
3      She shall now be known as Sourpuss #MKR #KatAn...  False    0
4      Tarah W threw a bunch of women under the bus s...  False    0
...                                                  ...    ...  ...
13626  this reminds me of the MENTION3079 situation; ...  False    0
13627  #mkr I love Annie and loyld there like a real ...  False    0
13628                       No u. http://t.co/zOr0eWahSS  False    0
13629  #mkr the way kat looks at Annie is like she's ...  False    0
13630  #mkr omg the kiss stains on the "dirty" mirror...  False    0

[13631 rows x 3 columns]

In [28]:
etiq_sexista

                                                   text  label  set
0                             For a woman, that is good      1    1
1       Just dress sexy and you will sign any contract.      1    1
2                               Are you having period ?      1    1
3                                     Stop being bitchy      1    1
4     I leave early because of her children instead ...      1    1
...                                                 ...    ...  ...
1132  Opportunities are like night owls. They like t...      0    1
1133  It's not just a question of doing what you lov...      0    1
1134  A genius does what he masters. An ordinary man...      0    1
1135  If you want to know the real reasons behind th...      0    1
1136  Questioning is important for breakthrough inno...      0    1

[1137 rows x 3 columns]

In [29]:
edos

                                                    text  label  set
0      In Nigeria, if you rape a woman, the men rape ...      0    2
1                                Then, she's a keeper. 😉      0    2
2      This is like the Metallica video where the poo...      0    2
3                                                 woman?      0    2
4                         I bet she wished she had a gun      0    2
...                                                  ...    ...  ...
19995     girls really get fucked almost every weekend ?      0    2
19996  The hatred for moslems are Reasonable and Just...      0    2
19997                 Now this is a woman who gets it. 👆      0    2
19998  “American Idol” finalist [USER] said nothing i...      0    2
19999      this bi--th should be stoped she's the rapist      1    2

[20000 rows x 3 columns]

In [30]:
df = pd.concat([sexism_data,edos,etiq_sexista],ignore_index=True)

In [31]:
porcentaje = 7287/34457
camb = 7287*4
resto = 34457 - 7287
nuevo = camb/(camb+resto)
print(nuevo)

0.5175609929329876

In [32]:
df_t = df[df['label']==1]
df_f = df[df['label']==0]

In [33]:
df.to_csv('../data/full.csv',index = False)

In [34]:
df_t.to_csv('../data/only_sexist.csv', index = False)